
  <div>
    <form name="signup" action="/users/new" method="POST">
      <p><input type="text" name="user[first_name]" class="w-100" placeholder="First Name"></p>
      <p><input type="text" name="user[last_name]" class="w-100" placeholder="Last Name"></p>
      <p><input type="text" name="user[user_name]" class="w-100" placeholder="User Name"></p>
      <p><input type="email" name="user[email]" class="w-100" placeholder="Email Address"></p>
      <p><input type="password" name="password" class="w-100" placeholder="Password"></p>
      <p><input type="password" name="password_2" class="w-100" placeholder="Please enter Password Again"></p>
      <p><input type="submit" value="create account"></p>
    </form>
  </div>

