<form name="signup" action="/users/new" method="POST">
  <label for"user[first_name]">First Name </label>
  <input type="text" name="user[first_name]">
  <br>
  <label for="user[last_name]"> Last Name </label>
  <input type="text" name="user[last_name]">
  <br>
  <label for="user[user_name]"> User Name </label>
  <input type="text" name="user[user_name]">
  <br>
  <label for="user[email]"> Email Address </label>
  <input type="email" name="user[email]">
  <br>
  <label for="password"> Password </label>
  <input type="password" name="password">
  <br>
  <label for="password_2"> Please enter Password Again</label>
  <input type="password" name="password_2">
  <br>
  <input type="submit" value="create account">
</form>
