<nav>
  <a href="/"><img src="/logo.png" border=0></a>
  <ul class="nav-menu">
    <li><a href="/questions">Questions</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/questions/new">Ask Question</a></li>
  </ul>
</nav>
