<% if @not_saved %>
  <p>DID NOT SAVE! Try again.</p>
<% end %>

<form method="POST" action="/questions/<%= @question.id %>/answers">
  <h3>Submit an answer:</h3>
  <p><textarea name="answer[body]" placeholder="question"></textarea></p>
  <input type="submit">
</form>