<%= _sidebar.erb %>

<div class="main">
  <div class="tabs">
    <span class="fl-l">Top Questions</span>
    <ul>
      <li class="active">newest</li>
      <li>votes</li>
      <li>comments</li>
      <li>unanswered</li>
    </ul>
  </div>


  <div class="listing">
    <div class="statbox">
      <p>0</p>
      <p class="smallest">votes</p>
    </div>
    <div class="statbox highlight">
      <p>2</p>
      <p class="smallest">answers</p>
    </div>
    <p><a href="question.html">Who wrote the book of love?</a></p>
    <p class="fineprint">asked 2 min ago by <a href="users/johnsmith">John Smith</a></p>
  </div>
</div>
