<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <% if @user %>
        <p class="white">Hello, <a href="/users/@user.id"><%= @user.user_name %></a> | <a href="/logout">Log out</a></p>
      <% else %>
        <p class="white"><a href="/login">Log in</a> | <a href="/users/new">Create an account</a></p>
      <% end %>
    </header>

    <nav>
      <img src="logo.png" border=0>
      <ul class="nav-menu">
        <li><a href="/questions">Questions</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/questions/new">Ask Question</a></li>
      </ul>
    </nav>

    <%= erb :_sidebar %>

    <%= yield %>

  </div>
</body>
</html>
