<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <header>
      <p class="white">Login/logout, userid info will go here</p>
    </header>

    <nav>
      <img src="logo.png" border=0>
      <ul class="nav-menu">
        <li>Questions</li>
        <li>Users</li>
        <li>Ask Question</li>
      </ul>
    </nav>

    <%= yield %>

  </div>
</body>
</html>
