<<<<<<< HEAD
<% if @not_saved %>
=======
<% if @not_commented %>
>>>>>>> d920936f4f1c599413534a33b390b3b8240e2068
  <p>DID NOT SAVE! Try again.</p>
<% end %>

<form method="POST" action="/questions/<%= @question.id %>/comments">
  <h3>Submit a comment for this question:</h3>
  <p><textarea name="comment[body]" placeholder="comment"></textarea></p>
  <input type="submit">
</form>
