<form method="POST" action="/questions/<%= @question.id %>">
  <h3>Edit this question:</h3>
  <input type="hidden" name="_method" value="put">
  <input name="question[title]" value="<%= @question.title %>">
  <p><textarea name="question[body]" value="question"><%= @question.body %></textarea></p>
  <input type="submit">
</form>
