<form method="POST" action="/question_form">
  <h3>Submit a question:</h3>
  <input name="question[title]" placeholder="title">
  <p><textarea name="question[body]" placeholder="question"></textarea></p>
  <input type="submit">
</form>
